{% extends 'base-twig.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row align-items-center" style="height: 90vh">
            <div class="col">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Du bist als {{ app.user.username }} angemeldet, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="mb-3 font-weight-normal">BAM Cash Book</h1>
                    <label for="inputEmail">Email-Adresse</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus>
                    <label for="inputPassword">Passwort</label>
                    <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-md btn-info w-100 mt-4" type="submit">
                        Anmelden
                    </button>
                    <a href="{{ path('app_register') }}" class="btn btn-md btn-light w-100 mt-3 mb-5">
                        Account erstellen
                    </a>


                    <a class="btn btn-facebook w-100 mb-2" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
                        <span><i class="bi bi-facebook"></i> Login with Facebook</span>
                    </a>
                    <a class="btn btn-google w-100 mb-2" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
                        <span><i class="bi bi-google"></i> Login with Google</span>
                    </a>
                    <a class="btn btn-github w-100 mb-2" href="{{ path('hwi_oauth_service_redirect', {'service': 'github' }) }}">
                        <span><i class="bi bi-github"></i> Login with GitHub</span>
                    </a>
                    <a class="btn btn-gitlab w-100 mb-2" href="{{ path('hwi_oauth_service_redirect', {'service': 'gitlab' }) }}">
                        <span>Login with GitLab</span>
                    </a>

                    <p>&copy; BAM-Solutions UG 2021</p>
                </form>
            </div>
        </div>


    </div>
{% endblock %}
