* {
    font-weight: 100;
}

body {
    background-color: #232937;
    color: #e4f0fc;
}

.header {
    height: 68px
}

.header span {
    float: left;
}

.header .user-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /*background: #91b4d5;*/
    /*color: #e4f0fc;*/
    font-size: 22px;
    padding: 4px 0 0 0;
    text-align: center;
    float: right;
}

.bootstrap-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /*background: #91b4d5;*/
    /*color: #e4f0fc;*/
    font-size: 22px;
    padding: 4px 0 0 0;
    text-align: center;
    display: inline-block;
}

.btn {
    font-weight: 100 !important;
}

.font-20 {
    font-size: 20px;
    font-weight: 100;
}

.text-right {
    text-align: right;
}

.modal-header h5 {
    font-weight: 100;
}

.modal-content {
    background-color: #232937;
    color: #e4f0fc
}

h1, h2 {
    line-height: 1.6;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 0;
}

.form-control {
    font-weight: 100;
}

.badge {
    font-size: 1em;
    font-weight: 700;
}

.btn-facebook {
    background: #305991;
    color: #ffffff;
}

.btn-google {
    background: #ca3b2b;
    color: #ffffff;
}

.btn-gitlab {
    background: #2f2a6b;
    color: #ffffff;
}

.btn-github {
    background: #333333;
    color: #ffffff;
}

.btn-info {
    border-color: #3498db;
}

.btn-info, .bg-info {
    color: #fff;
    background-color: #3498db;
}

.btn-light {
    color: #fff;
    background-color: #adb5bd;
    border-color: #adb5bd;
}

.btn-danger {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.product {
    background: #375a7f;
    color: #e4f0fc;
    padding: 0 6px;
    border-radius: 3px;
}

.product.bought {
    /*background: #adb5bd;*/
    /*color: #333333*/
    opacity: 0.4;
}

.product.border {
    border-color: #375a7f !important;
}

.product h2 {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    line-height: 50px;
    width: 100%;
    float: left;
}

.product-button-div {
    position: absolute;
    right: 16px
}

.modal-title {
    width: 100%;
}

.float-right {
    float: right;
}

.float-auto {
    float: none !important;
}

.mr-1 {
    margin-right: 0.25rem!important;
}

.ml-1 {
    margin-left: 0.25rem!important;
}

.add-product {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 0;
    font-size: 60px;
    line-height: 28px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: 100;
}

.preloader-div {
    width: 100vw;
    height: 100vh;
    padding: 70% 0;
}
